html,
body {
  margin: 0;
  text-align: center;
  height: 100%;
}

#game {
  height: 90%;
  align-items: center;
  flex-grow: 0;
}

#chatbox {
  height: 80%;
  margin: 20px;
  flex: 0.3;
}

#chat-window {
  height: inherit;
  padding: 5px;
  text-align: left;
  word-break: break-all;
  overflow-y: scroll;
  margin: 5px;
}

#jotto {
  height: inherit;
  flex: 0.7;
  display: flex;
}

#play {
  width: 100%;
}

#opponent-column {
  height: inherit;
  flex: 0.33;
  margin: 20px;
  overflow: scroll;
}

#player-column {
  height: inherit;
  flex: 0.33;
  margin: 20px;
  overflow: scroll;
}

#cheatsheet {
  flex: 0.33;
}

#message {
  width: 80%;
}
