html,
body {
  margin: 0;
  text-align: center;
  height: 100%;
}

#game {
  height: 90%;
  align-items: center;
  flex-grow: 0;
}

#chatbox {
  height: 80%;
  margin: 20px;
  flex: 0.3;
}

#chat-window {
  height: inherit;
  padding: 5px;
  text-align: left;
  word-break: break-all;
  overflow-y: scroll;
  margin: 5px;
}

#jotto {
  height: inherit;
  flex: 0.7;
  display: flex;
}

#play {
  width: 100%;
}

#opponent-column {
  height: inherit;
  flex: 0.33;
  margin: 20px;
  overflow: scroll;
}

#player-column {
  height: inherit;
  flex: 0.33;
  margin: 20px;
  overflow: scroll;
}

#message {
  width: 80%;
}

#cheatsheet {
  flex: 0.33;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cheat-letter {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-bottom: 5px;
  margin: 1px;
  align-content: center;
  cursor: pointer;
}
